ExamenRecupperacion/pillar5-n8n/workflows/recup-flujo-prestamos.json
{
  "name": "recup-flujo-prestamos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recup_prestamo.notificacion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "recup-prestamo-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-evento",
              "leftValue": "={{ $json.evento }}",
              "rightValue": "recup_prestamo.estado-cambiado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-prestamo-id",
              "leftValue": "={{ $json.prestamoId }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-validate-event",
      "name": "IF Validate Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Genera un mensaje de notificación amigable en español para informar sobre un cambio de estado de préstamo de biblioteca. Datos del préstamo:\\n- Código: {{ $json.recup_codigo }}\\n- Lector: {{ $json.lector.recup_nombreCompleto }}\\n- Libro: {{ $json.libro.recup_titulo }} de {{ $json.libro.recup_autor }}\\n- Estado anterior: {{ $json.estadoAnterior }}\\n- Estado nuevo: {{ $json.estadoNuevo }}\\n- Fecha del cambio: {{ $json.fechaCambio }}\\n\\nEl mensaje debe ser breve, profesional y amigable. Incluye emojis apropiados.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 256\n  }\n}",
        "options": {}
      },
      "id": "http-request-gemini",
      "name": "HTTP Request Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [910, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Notificación enviada correctamente\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Evento no válido o datos incompletos\",\n  \"receivedEvent\": \"{{ $json.evento }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-invalid",
      "name": "Respond Invalid Event",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 420]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "IF Validate Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Validate Event": {
      "main": [
        [
          {
            "node": "HTTP Request Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Gemini": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "recup-biblioteca-system"
  },
  "tags": [
    {
      "name": "recup-biblioteca",
      "createdAt": "2026-02-02T00:00:00.000Z",
      "updatedAt": "2026-02-02T00:00:00.000Z"
    }
  ]
}
